# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


Backend.nyc_output/
Backendcoverage/
Backendnode_modules/
Backendnpm-debug.log
Backendpackage-lock.json
Backendtest/*.log